body {
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
    color: white;
    overflow-x: hidden;
}

.outer {
    position: relative;
}

.group {
    position: relative;
	left: 70%;
}

.container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
}

.panel {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.panel img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.group-title {
    position: fixed;
    top: 47%;
    left: 25%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    z-index: 10;
    pointer-events: none;
}

#tekst p {
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
}
